.post {
  background: #ff9dc6;
  border-radius: 10px;
  box-shadow: 0 0 10px #0f3460;
  margin: 10px;
  padding: 15px;
  width: 500px;
  font-size: cursive;
}
 body {
      background-color: #fff8f0;
      font-family: cursive;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 20px;
    }
    .post {
      background: rgb(243, 205, 226);
      border-radius: 10px;
      box-shadow: 0 0 10px #ccc;
      margin: 10px;
      padding: 15px;
      width: 500px;
    }
    h2 { 
        margin-bottom: 5px; color: #444; 
        font-family: cursive;
    }
    p { 
        margin-top: 0; 
        font-family: cursive;
    }
    .resumo { 
        font-weight: bold; 
        color: #666;
     }
    a.botao {
      background-color: #ffb6b6;
      color: #000;
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      margin-bottom: 20px;
      transition: 0.2s;
    }
    a.botao:hover { 
        background-color: #ffa0a0; 
    }
