<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Resultado do Login</title>
    <link rel="stylesheet" href="style6.css">
</head>
<body>
  <h1><%= mensagem %></h1>
  <a href="/login">Voltar</a>
</body>
</html>
